/* footer */
.footer{
    background: linear-gradient(rgba(51, 51, 51, 0.86),rgba(51, 51, 51, 0.86)),url('../img/footer.png') no-repeat center;
}
.footer_container{
    padding-top: 5.5rem;
    display: flex;
}
.footer_logo{
    width: 24%;
}
.footer_logo img{
    width: 100%;
}
.footer_about,
.footer_policy{
    width: 18%;
}
.footer_contact{
    width: 40%;
    margin-left: 3rem;
}
.footer_title{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.footer_item{
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom: 1.55rem;
    display: flex;
    align-items: center;
}
.footer_link{
    color: var(--white-color);
}

.footer_item-app{
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer_item-app a{
    width: 45%;
    margin-bottom: 1rem;
}
.footer_item-app img{
    width: 100%;
}

.footer_line{
    height: 1px;
    width: 100%;
    background-color: var(--white-color);
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    align-items: center;
}
.footer_bottom-left{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 20px 0;
}
.footer_bottom-right{
    font-size: 1.4rem;
    font-weight: 100;
}

.footer_icon{
    color: var(--primary-color);
    font-size: 2rem;
    min-width: 25px;
    text-align: center;
}
.footer_link{
    display: inline-block;
    padding-right: 15px;
}