/* HOME */
.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../img/background-home.jpg") no-repeat center;
    display: flex;
}

.home_content{
    margin: auto;
    text-align: center;
}
.home_content-heading{
    color: var(--primary-color);
    font-size: 5rem;
    line-height: 10rem;
}
.home_content-subheading{
    color: var(--white-color);
    font-size: 6rem;
    line-height: 6rem;
}
.home_content-slogan{
    margin-top: 3rem;
    color: var(--white-color);
    font-size: 2rem;
    line-height: 2rem;
}