/* google font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700&display=swap');
:root{
    --primary-color: #d3b673;
    --black-color: #282828;
    --white-color: #fff;
}  
html{
    line-height: 1.6rem;
    font-size: 62.5%;
    font-family: 'Baloo 2', cursive;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

/* HEADER */
.header{
    background-color: var(--black-color);
    height: 8rem;
    max-width: 100%;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.header_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav{
    display: flex;
    align-items: center;
    height: 100%;
}
.header_nav-logo  img {
    width: 200px;
    margin-right: 3rem;
}
.header_nav-list{
    display: flex;
    align-items: center;
}
.header_nav-item{
    margin: 0 1.5rem;
    position: relative;
}
.header_nav-item::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);

    top: 100%;
    left: 0;
    border-radius: 10px;
    transition: all linear .15s;
}
.header_nav-item:hover::after{
    width: 100%;
}
.header_nav-item:hover .header_nav-link{
    color: var(--primary-color);
}
.header_nav-link{
    font-size: 1.6rem;
    color: var(--white-color);
    text-transform: uppercase;
    transition: all linear 0.2s;
}

.header_search{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    cursor: pointer;

    color: var(--white-color);
    font-size: 1.4rem;
    transition: all linear .2s;
}

.header_search:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


/* HOME */
.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("./img/background-home.jpg") no-repeat center;
    display: flex;
}

.home_content{
    margin: auto;
    text-align: center;
}
.home_content-heading{
    color: var(--primary-color);
    font-size: 5rem;
    line-height: 10rem;
}
.home_content-subheading{
    color: var(--white-color);
    font-size: 6rem;
    line-height: 6rem;
}
.home_content-slogan{
    margin-top: 3rem;
    color: var(--white-color);
    font-size: 2rem;
    line-height: 2rem;
}

.btn{
    padding: 1rem 2rem;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    outline: none;
    background-color: transparent;

    font-size: 1.6rem;
    font-weight: 700;    
    margin-top: 3.5rem;
    cursor: pointer;
    transition: all ease-in .2s;
}
.btn:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.title{
    text-align: center;
}
.title_primary{
    font-size: 3rem;
    color: var(--primary-color);
    line-height: 4rem;
}
.title_sub{
    font-size: 3.5rem;
    line-height: 4rem;
}
/* PRODUCT */
.product {
    padding-top: 5rem;
}

.product__title {
    text-align: center;
}

.product__title-primary {
    color: var(--primary-color);
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.product__title-sub {
    font-size: 3.5rem;
    line-height: 4rem;
    color: var(--black-color);
    letter-spacing: 0.18rem;
    text-transform: uppercase;
}

.product__content {
    margin-top: 3.5rem;
}

.product__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product__item {
    position: relative;
    width: calc((100%/4) - 3rem);
    margin: 0 1.5rem;
    margin-bottom: 3.2rem;
    box-shadow: 0 2px 1.5px 0px #ccc;
    overflow: hidden;
    cursor: pointer;
}

.product__item:hover .product__item-img {
    animation: ZoomInProduct ease-out 0.5s forwards;
}

.product__item-tag {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.new-tag {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-15deg);
    margin: 1.5rem;
}

.discount-tag {
    background-color: #282828;
    border-radius: 50%;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.product__img-wrap {
    display: block;
    overflow: hidden;
}

.product__item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product__item-info {
    /* position: relative; */
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__item-title {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product__item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.origin-price {
    color: #8a733f;
    text-align: center;
}

.sale-price {
    margin-left: 8px;
    color: #bebebe;
    transform: scale(0.9, 0.9);
    text-decoration: line-through;
}

.order-btn {
    background-color: var(--primary-color);
    padding: 0.2rem 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    transition: all 0.5s ease;
}

.product__item:hover .order-btn {
    background-color: #c4a04d;
}

/* ABOUT */
.about{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about__banner{
    width: 100%;
}
.about__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    z-index: 2;
    position: absolute;
    width: 35%;
}
.about__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title-primary{
    font-size: 3rem;   
    color: var(--primary-color);
    line-height: 4rem;
    margin-bottom: 5px;
}
.about__title-sub{
    text-align: center;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: 1.8px;
    margin-bottom: 0;
    padding: 0 50px;
}
.about__desc{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.about__btn{
    background-color: var(--primary-color);
    padding: 0.2rem 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    transition: all 0.5s ease;
}
.about__btn:hover{
    background-color: #c4a04d;
}
/* FRANCHISE */
.franchise{
    display: flex;
    border: solid 6px var(--primary-color);
    margin-top: 20px;
    margin-bottom: 60px;
}
.franchise__home-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
}
.franchise__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.franchise__title-primary{
    font-size: 3rem;   
    color: var(--primary-color);
    line-height: 4rem;
    margin-bottom: 5px;
}
.franchise__title-sub{
    text-align: center;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: 1.8px;
    margin-bottom: 0;
    padding: 0 50px;
}
.franchise__desc{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.franchise__btn{
    background-color: var(--primary-color);
    padding: 0.2rem 1.6rem;
    margin-top: 1.6rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    transition: all 0.5s ease;
}
.franchise__btn:hover{
    background-color: #c4a04d;
}
.franchise__home-right{
    width: 50%;
    display: flex;
    justify-content: center;
}
.franchise__pic{
    width: 70%;
}

/* footer */
.footer{
    background: linear-gradient(rgba(51, 51, 51, 0.86),rgba(51, 51, 51, 0.86)),url('./img/footer.png') no-repeat center;
}
.footer_container{
    padding-top: 5.5rem;
    display: flex;
}
.footer_logo{
    width: 24%;
}
.footer_logo img{
    width: 100%;
}
.footer_about,
.footer_policy{
    width: 18%;
}
.footer_contact{
    width: 40%;
    margin-left: 3rem;
}
.footer_title{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.footer_item{
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom: 1.55rem;
}
.footer_link{
    color: var(--white-color);
}

.footer_item-app{
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer_item-app a{
    width: 45%;
    margin-bottom: 1rem;
}
.footer_item-app img{
    width: 100%;
}

.footer_line{
    height: 1px;
    width: 100%;
    background-color: var(--white-color);
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    align-items: center;
}
.footer_bottom-left{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 20px 0;
}
.footer_bottom-right{
    font-size: 1.4rem;
    font-weight: 100;
}


/* ANIMATION */
@keyframes ZoomInProduct {
    0% {
        transform: scale(1);
        /* opacity: 0.5; */
    }
    100% {
        transform: scale(1.15);
        /* opacity: 1; */
    }
}